.main {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 60vw;
  align-items: center;
  background-color: azure;
}

.add-todo {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  height: 30%;
  width: 80%;
}
